.mat-icon
 {

      color: #7A4CF6;
      font-size: 15px;
 }

 .btnDelt{
     background:url('../../../src/assets/iconos/close_button.png') no-repeat;
     width: 15px;
     height: 15px;;
   }


   .fixed-header {
     position: fixed;
     z-index:999;
     height: 20px;
   }
   
   #frugalmap {
     height: 200px;
     width: 100%;
     top: 0px;
     position: fixed;
   }
   
   .mat-elevation-z5 {
     position: fixed;
   }
   
   .sticky {
     position: fixed;
     top: 0px;
   }


   /* floating button*/

   .kc_fab_main_btn {
    background-color: #7A4CF6;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #7A4CF6;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .kc_fab_main_btn:focus {
    transform: scale(1.1);
  }

  .kc_del_main_btn {
    background-color: #97231f;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #97231f;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .kc_del_main_btn_float {
    background-color: #97231f;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background: #97231f;
    border: none;
    margin-top: -8;
    outline: none;
    color: #FFF;
    font-size: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .kc_del_main_btn:focus {
    transform: scale(1.1);
  }
  ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
}

.popup-container {
  position: relative;
  display: inline-block;
  background: none;
  cursor: pointer;
}

.popup-container .popup-body {
  visibility: hidden;
  position: absolute;
  width: 676px;
  background-color: #FFF;
  color: #000;
  text-align: left;
  padding: 30px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.popup-container .show-popup {
  visibility: visible;
  opacity: 1;
}

.popup-bottom {
  top: 135%;
  left: 50%;
  margin-left: -60px;
}

.custom-slider-main{
  display: flex;
  overflow: hidden;    
  scroll-behavior: smooth;
}