.mat-icon
 {
      font-size: 15px;
 }

 .btnDelt{
     background:url('../../../src/assets/iconos/close_button.png') no-repeat;
     width: 15px;
     height: 15px;;
   }


   .fixed-header {
     position: fixed;
     z-index:999;
     height: 20px;
   }
   
   #frugalmap {
     height: 200px;
     width: 100%;
     top: 0px;
     position: fixed;
   }
   
   .mat-elevation-z5 {
     position: fixed;
   }
   
   .sticky {
     position: fixed;
     top: 0px;
   }


   /* Style the buttons that are used to open and close the accordion panel */
.accordion {
     background-color: #eee;
     color: #444;
     cursor: pointer;
     padding: 18px;
     width: 100%;
     text-align: left;
     border: none;
     outline: none;
     transition: 0.4s;
   }
   
   /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
   .active, .accordion:hover {
     background-color: #ccc;
   }
   
   /* Style the accordion panel. Note: hidden by default */
   .panel {
     padding: 0 18px;
     background-color: white;
     display: none;
     overflow: hidden;
   }
