<app-spinner></app-spinner>
<div class="container-fluid">
    <div class="row">
    <div class="col-6 bg-tp tp-h">
        <div class="row justify-content-center mt-5"></div>
        <div class="row justify-content-center mt-5"></div>
        <div class="row justify-content-center mt-5">
            <div class="col-4 text-center">
                <img class="align-middle" src="/assets/img/login/gestoria.svg">
            </div>
        </div>
        <div class="row justify-content-center  mt-5">
            <div class="col-4 text-center">
                <p class="font-weight-bold text-light h1">Administraci&oacute;n</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <p class="text-light display-2">de Gestor&iacute;as</p>
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-4 text-center">
                <img class="align-middle" src="/assets/img/totalplay/totalplay.svg">
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="row mt-5">
            <div class="col-10 offset-2 mt-5">
                <p class="font-weight-bold h1">Bienvenidos</p>
                <p >Por favor, ingresa tus datos para acceder</p>
            </div>
            <div class="col-8 offset-2 mt-5">
                <form autocomplete="off"  [formGroup]="milogin" (ngSubmit)="login()">

                    <div class="form-floating input-group  p-2">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15.175" height="15.175" viewBox="0 0 15.175 15.175">
                                <path id="Icon_awesome-user-alt" data-name="Icon awesome-user-alt" d="M7.588,8.536A4.268,4.268,0,1,0,3.32,4.268,4.269,4.269,0,0,0,7.588,8.536Zm3.794.948H9.748a5.159,5.159,0,0,1-4.321,0H3.794A3.793,3.793,0,0,0,0,13.278v.474a1.423,1.423,0,0,0,1.423,1.423h12.33a1.423,1.423,0,0,0,1.423-1.423v-.474A3.793,3.793,0,0,0,11.381,9.484Z" fill="#7a4cf6"/>
                            </svg>
                        </span>
                        <input type="text" class="form-control" id="user" name="user" formControlName="user" placeholder="#########">
                        <label for="user">N&uacute;mero empleado</label>
                    </div>
                    <div class="form-floating input-group  p-2">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13.899" height="15.885" viewBox="0 0 13.899 15.885">
                                <path id="Icon_awesome-lock" data-name="Icon awesome-lock" d="M12.41,6.95h-.745V4.716a4.716,4.716,0,0,0-9.432,0V6.95H1.489A1.49,1.49,0,0,0,0,8.439V14.4a1.49,1.49,0,0,0,1.489,1.489H12.41A1.49,1.49,0,0,0,13.9,14.4V8.439A1.49,1.49,0,0,0,12.41,6.95Zm-3.227,0H4.716V4.716a2.234,2.234,0,0,1,4.468,0Z" fill="#7a4cf6"/>
                            </svg>
                        </span>
                        <input type="{{ isActive ? 'password' : 'text' }}" class="form-control" id="password" name="password" formControlName="password" placeholder="#########">
                        <label for="password">Contrase&ntilde;a</label>
                        <span class="input-group-text" style="border-bottom: 1px solid #707070; border-radius: 0;" (click)="change()">
                            <svg id="Component_1_2" data-name="Component 1 – 2" xmlns="http://www.w3.org/2000/svg" width="18.485" height="12.461" viewBox="0 0 18.485 12.461">
                                <path id="Icon_ionic-md-eye" data-name="Icon ionic-md-eye" d="M11.493,7.383a9.939,9.939,0,0,0-9.243,6.23,9.971,9.971,0,0,0,18.485,0A9.939,9.939,0,0,0,11.493,7.383Zm0,10.386a4.155,4.155,0,1,1,4.2-4.155A4.19,4.19,0,0,1,11.493,17.768Zm0-6.647a2.492,2.492,0,1,0,2.521,2.492A2.515,2.515,0,0,0,11.493,11.121Z" transform="translate(-2.25 -7.383)" fill="#9b9b9b"/>
                            </svg>
                        </span>
                    </div>
                    <div class="form-floating p-2 pt-5 mb-2 text-center">
                        <button class="w-50 btn btn-lg btn-tp" type="submit" [disabled]="milogin.invalid">Entrar</button>
                    </div>
                </form>
            </div>

            <button style="background-color: transparent; border: none; text-decoration: underline; color: blue;" routerLink="recuperarCuenta">Olvidaste tu contraseña?</button>
        </div>
      </div>
    </div>
  </div>
