<app-spinner></app-spinner>
<div class="row m-4">
  <div class="col-12">
    <h4>Nuevo Requerimiento</h4>
  </div>
  <div class="col-12 card shadow mt-4">
    <div class="card-header pb-0 bg-white">
      <div class="row">
        <div class="bg-tp col-2 text-light p-2 rt">
          Informaci&oacute;n del requerimiento
        </div>

        <div style="width: 75%; display: flex; justify-content: flex-end;">

          <div class="offset-1 col-1" style="margin-right: 30px;" hidden="true">

          <button style="width: 212%"  class="btn radiu-tp btn-outline-tp"
            [routerLink]="['/gestorias/requerimientos']">
            Cancelar
          </button>
          </div>
  
          <div class="offset-1 col-1">
          <button class="btn radiu-tp btn-tp fw-bold" style="width: 212%;" (click)="onSubmit()">
            Enviar y generar folio
          </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body row">
      <div class="col-12">
        <h6 class="text-gris">Datos de requerimiento</h6>
      </div>
      <blockquote class="blockquote col-12 p-4 m-2 bg-gris">
        <form autocomplete="off" class="row" [formGroup]="crearForm" action="onSubmit()">

          <!--Municipios-->
          <div class="row">
            <div class="mb-3 col-3 form-control-sm">
              <label for="tipoPermiso" class="form-label">Tipo de permiso</label>
              <mat-icon matTooltip="texto">
                help_outline
              </mat-icon>
              <br>
              <select name="" class="mt-3" formControlName="tipoPermiso" style="width: 90%;" required>
                <option disabled selected>Seleccionar</option>
                <option value="{{item.id}}" *ngFor="let item of tipoPermiso">{{item.descripcion}}</option>
              </select>
             <!---- <div *ngIf="submitted && f.tipoPermiso.errors" class="alert alert-danger">
                Tipo de permiso es requerido.
              </div>-->
            </div>

            <div class="col-3 form-control-sm">
              <label for="estado" class="form-label">Estado</label>
              <mat-icon matTooltip="texto">
                help_outline
              </mat-icon>
              <br>
              <select name="" class="mt-3" formControlName="estado" style="width: 90%;" (change)="getMunicipio()">
                <option disabled selected>Seleccionar</option>
                <option value="{{item.id}}" *ngFor="let item of estado">{{item.descripcion}}</option>
              </select>
              <!--<div *ngIf="submitted && f.estado.errors" class="alert alert-danger">
                Estado es requerido.
              </div>-->
            </div>

            <div class="col-3 form-control-sm">
              <label for="municipio" class="form-label">Municipio o Alcald&iacute;a</label>
              <mat-icon matTooltip="texto">
                help_outline
              </mat-icon>
              <select name="" class="mt-3" formControlName="municipio" style="width: 90%;">
                <option disabled selected>Seleccionar</option>
                <option value="{{item.id}}" *ngFor="let item of municipio">{{item.descripcion}}</option>
              </select>
             <!---- <div *ngIf="submitted && f.municipio.errors" class="alert alert-danger">
                Municipio o Alcald&iacute;a es requerido.
              </div>-->

            </div>

            <div class="mb-3 col-3 form-control-sm">
              <label for="area" class="form-label">&Aacute;rea solicitante</label>
              <mat-icon matTooltip="texto">
                help_outline
              </mat-icon>
              <br>
              <select name="" class="mt-3" formControlName="area" style="width: 90%;">
                <option disabled selected>Seleccionar</option>
                <option value="{{item.id}}" *ngFor="let item of areaSolicitate">{{item.descripcion}}</option>
              </select>
              <!--<div *ngIf="submitted && f.area.errors" class="alert alert-danger">
                &Aacute;rea solicitante es requerido.
              </div>-->
            </div>
          </div>
          <!--Fin municipios-->

          <!--Vigencia-->
          <div class="row">
            <div class="col-3">
              <div class="row">
                <div class="mb-3 col-7 form-control-sm" style="padding-right: 0;">
                  <label for="vigencia" class="form-label">Vigencia del permiso</label>
                  <mat-icon matTooltip="texto">
                    help_outline
                  </mat-icon>
                  <input type="number" class="form-control" id="vigencia"  placeholder="0" aria-describedby="emailHelp"
                    formControlName="vigencia" (change)="getCantidad($event)" style="width: 95%;"/>
                </div>
                <div class="mb-3 col-2 form-control-sm" style="padding-left: 0;">
                  <select name="" class="mt-5" formControlName="unidad" style="margin-top: 3.2em!important; width: 110px;"
                    (change)="getUnidad($event)">
                    <option disabled selected value="" style="text-decoration: darkgray;">Unidad</option>
                    <option value="{{item.id}}" *ngFor="let item of unidad">{{item.descripcion}}</option>
                  </select>

                </div>
                <!--<div *ngIf="submitted && f.unidad.errors" class="alert alert-danger form-control-sm">
                  Vigencia del permiso es requerido.
                </div>-->

              </div>

            </div>

            <div class="mb-3 col-3 form-control-sm">
              <label for="fechaRequerimiento" class="form-label">Fecha requerimiento</label>
              <mat-icon matTooltip="texto">
                help_outline
              </mat-icon>
              <input type="date" class="form-control" id="fechaRequerimiento" aria-describedby="fechaRequerimiento"
                formControlName="fechaRequerimiento" (change)="onDate($event)" style="width: 90%;" />
              <span class="form-text text-danger" *ngIf="fechaInvalida('fechaRequerimiento')">
                La fecha debe de ser mayor a la fecha actual
              </span>
            </div>

            <div class="mb-3 col-3 form-control-sm">
              <label for="fechaVencimeinto" class="form-label">Fecha Vencimiento</label>
              <mat-icon matTooltip="texto">
                help_outline
              </mat-icon>
              <input type="date" class="form-control" id="fechaVencimeinto" aria-describedby="fechaVencimeinto"
                formControlName="fechaVencimeinto" value="{{mNewDate}}" style="width: 90%;"  />
            </div>

            <div class="mb-3 col-3 form-control-sm">
              <button class="kc_fab_main_btn" (click)="loadFechaVigencia()">+</button>
            </div>

          </div>
          <!--Fin-->

          <!--Vigencia Add-->
          <div class="row" *ngIf="mHasFechas" style="margin-left: -20;">
                <table class="table" style="margin-top: -30px;" >
                  <thead>
                    <tr>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let mVigencia of mFechasVigencia; let i = index">
                      <td>
                        <div class="row">
                          <div class="col-3">
                            <div class="row">

                             
                              <div class="mb-3 col-7 form-control-sm" style="padding-right: 0;">
                                <label for="vigencia" class="form-label">Vigencia del permiso</label>
                                <mat-icon matTooltip="texto">
                                  help_outline
                                </mat-icon>
                                <input  class="form-control" placeholder="00" aria-describedby="emailHelp"
                                style="width: 95%;" value="{{mVigencia.vigencia}}"/>
                              </div>
                              <div class="mb-3 col-2 form-control-sm" style="padding-left: 0;">
                                
                                  <input style="margin-top: 42px;" value="{{getDescription(mVigencia.unidad)}}"/>
              
                              </div>
                             <!---- <div *ngIf="submitted && f.unidad.errors" class="alert alert-danger form-control-sm">
                                Vigencia del permiso es requerido.
                              </div>-->
              
                            </div>
              
                          </div>
              
                          <div class="mb-3 col-3 form-control-sm">
                            <label class="form-label">Fecha requerimiento</label>
                            <mat-icon matTooltip="texto">
                              help_outline
                            </mat-icon>
                            <input class="form-control"
                               (change)="onDate($event)" style="width: 90%;" value="{{mVigencia.fechaReq}}"/>
                           
                          </div>
                          <div class="mb-3 col-3 form-control-sm">
                            <label class="form-label">Fecha Vencimiento</label>
                            <mat-icon matTooltip="texto">
                              help_outline
                            </mat-icon>
                            <input  class="form-control"
                               style="width: 90%;" value="{{mVigencia.fechaVigencia}}">
                          </div>

                          <div class="mb-3 col-3 form-control-sm">
                            <button (click)="deleteFechaVigencia(mVigencia.id)" class="kc_del_main_btn" style="margin-top: 27px;">-</button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
             
          </div>


          
         <!---- Fin vigencia Add-->

          <!--Actividades-->
          <div class="row">
            <div class="mb-3 col-3 form-control-sm">
              <label for="tipoActividad" class="form-label">Tipo de actividad</label>
              <mat-icon matTooltip="texto">
                help_outline
              </mat-icon>
              <br>

              <table class="table">
                <thead>
                </thead>
                <tbody>
                  <tr *ngFor="let item of actividades">
                    <td><input type="checkbox" id="cbox2" value="second_checkbox">
                    </td>
                    <td>{{item.descripcion}}</td>
                    <td>{{mActividad}}</td>
                  </tr>
                </tbody>
              </table>          
    
             <!-- <select id="inputState" class="mt-3" style="width: 90%;" formControlName="actividad" (change)="getActividad($event)">
                <option selected>Selecciona</option>
                <option *ngFor="let item of actividades;" value="{{item.id}}">{{item.descripcion}}</option>
              </select>-->
            </div>
<!--
            <div class="mb-3 col-3 form-control-sm">
              <label for="descripcionActividad" class="form-label">Descripci&oacute;n de actividades</label>
              <mat-icon matTooltip="texto">
                help_outline
              </mat-icon>
              <input type="text" class="form-control" formControlName="descrip" value="{{mActividad}}" style="width: 90%;" >
            </div>
            -->

            <div class="mb-3 col-3 form-control-sm" >
              <button class="btn btn-tp radiu-tp ps-4 pe-4" style="margin-top: 15px;"  (click)="create()"> + Otra actividad</button>
            </div>

          

        
          </div>
          <!--Fin Area Solicitante-->

          <!--Centro de costos-->
          <div class="row">

            <div class="mb-3 col-3 form-control-sm">
              <label for="exampleInputEmail1" class="form-label">CC</label>
              <mat-icon matTooltip="texto">
                help_outline
              </mat-icon>
              <input type="text" class="form-control" formControlName="cc" style="width: 90%;" >
            </div>

            <div class="mb-3 col-3 form-control-sm">
              <label for="exampleInputEmail1" class="form-label">Nombre CC</label>
              <mat-icon matTooltip="texto">
                help_outline
              </mat-icon>
              <input type="text" class="form-control" formControlName="nombreCc" style="width: 90%;" >
            </div>
          </div>
          <!--fin centro de costos-->

        </form>
      </blockquote>

     
    </div>

  </div>


</div>