<div class="row m-4">
  <div class="col">
    <h5>Requerimiento en renovaci&oacute;n</h5>
  </div>
  <div class="col">
    <h5 class="text-gris">
      Requerimientos por vencer
      <span class="btn btn-tp badge bg-primary abso radiu-tp" (click)="mostrarLista()">{{tam}}</span>
    </h5>
  </div>
  <div class="col">
    <h5 class="text-gris">
      Vencidos<span class="btn btn-tp badge bg-primary abso radiu-tp" (click)="mostrarListaVencidos()">{{tamVencidos}}</span>
    </h5>
  </div>
  <div class="col-12 card shadow mt-4">
    <div class="card-body row">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" >
              <button class="nav-link"
                routerLink="encurso"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="active">En curso</button>
            </li>
            <li class="nav-item" *ngIf="rol!=='ROLE_OPERACIONES'">
              <button class="nav-link"
              routerLink="recibidas"
              routerLinkActive="active">Recibidas</button>
            </li>
            <li class="nav-item" >
              <button class="nav-link"
                 routerLink="porAutorizar"
                routerLinkActive="active">Por autorizar</button>
            </li>
            <li class="nav-item">
                <button class="nav-link"
                    routerLink="cerradas"
                    routerLinkActive="active">Cerradas</button>
            </li>
            <li class="nav-item">
                <button class="nav-link"
                    routerLink="autorizadas"
                    routerLinkActive="active">Autorizadas</button>
            </li>
            <li class="nav-item">
                <button class="nav-link"
                    routerLink="documentacion"
                    routerLinkActive="active">Documentaci&oacute;n</button>
            </li>
            <li class="nav-item">
                <button class="nav-link"
                    routerLink="canceladas"
                    routerLinkActive="active">Canceladas</button>
            </li>
            <li class="nav-item position-absolute" style="top: 0.5em !important; right: 1em !important;">
                <button
                *ngIf="rol !== 'ROLE_AUTORIZACION' && rol !== 'ROLE_COMERCIAL'"
                  class="btn btn-tp radiu-tp ps-4 pe-4 radiu-tp align-self-end"
                  mat-button
                  [routerLink]="['/gestorias/crear']">+ Nuevo requerimiento
                </button>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <router-outlet></router-outlet>
          </div>
    </div>
  </div>
</div>
