<div class="row m-4">
    <div class="col-3 offset-9">
        <button
            class="btn btn-tp radiu-tp ps-4 pe-4 radiu-tp mt-3"
            mat-button
            (click)="create()"
        >
        + Nuevo Usuario
        </button>
    </div>
    <div class="table-responsive m-4">
        <table class="table caption-top table-striped table-hover">
            <thead>
              <tr>
                <th class="text-gris">Nombre</th>
                <th class="text-gris">Area</th>
                <th class="text-gris">Rol</th>
                <th class="text-gris">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of usuarios; let i = index">
                <td>{{item.name}}</td>
                <td>{{item.areaID}}</td>
                <td>{{item.role}}</td>
                <td>{{item.email}}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  