<div class="modal-1 radiu-tp" *ngIf="data.tipo ===1">
  <div class="text-center mt-5">
    <img src="../../../assets/img/totalplay/Icon awesome-check-circle.svg" alt="">
  </div>
  <div class="text-center mt-1">
    <h2 class="text-gris"> con &eacute;xito</h2>
    <div class="mt-1 bg-gris">
      <div class="p-4 text-start">

        <p><b>Folio:</b> {{data.req.id}}</p>
        <p><b>Tipo Permiso:</b> {{data.req.permiso}}</p>
        <p><b>Estado:</b> {{data.req.ubicacion}}</p>
        <p><b>Municipio:</b> {{data.req.municipio}}</p>
        <p><b>Vigencia:</b> {{data.req.vigencia}} </p>
        <p><b>Fecha requerimiento:</b> {{data.req.fechareq}} </p>
        <p><b>Fecha Vencimiento:</b> {{data.req.fechavencimiento}} </p>
        <p><b>&Aacute;rea :</b> {{data.req.area}} </p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button mat-button="" mat-dialog-close="" class="btn-tp radiu-tp btn-alert mt-1" type="button" [routerLink]="" style="margin-right: 15px;">
      <span class="mat-button-wrapper">Nuevo Folio</span>
    </button>
    <button mat-button="" mat-dialog-close="" class="btn-tp radiu-tp btn-alert mt-1" type="button" [routerLink]="['/gestorias/requerimientos']"><span class="mat-button-wrapper">Bandeja de entrada</span>      
    </button>
  </div>
</div>
<div class="modal-2 radiu-tp" *ngIf="data.tipo ===2">
  <div class="text-center mt-4">
    <h2 class="text-gris mb-3">{{data.title}}</h2>
    <div class="mt-5 row" >
      <table class="table table-striped table-hover" >
        <thead>
          <th>Folio:</th>
          <th>Fecha requerimiento:</th>
          <th>Municipio</th>
          <th>Tipo de permiso:</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of data.array">
            <td><a [routerLink]="['/gestorias/requerimiento']" (click)="editRequrimineto(item)">{{item.id}}</a></td>
            <td>{{item.fechareq}}</td>
            <td>{{item.municipio}}</td>
            <td>{{item.permiso}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-center mt-5">
    <button mat-button="" mat-dialog-close="" class="btn-tp radiu-tp btn-alert mt-4" type="button">
      <span class="mat-button-wrapper">{{data.boton}}</span>
    </button>
  </div>
</div>
<div class="modal-catalogo radiu-tp" *ngIf="data.tipo ===3">
  <form [formGroup]="crearForm" autocomplete="off">
    <div class="text-center mt-4">
      <h2 class="text-gris">{{data.title}}</h2>
        <blockquote class="blockquote col-12 p-4 m-2 bg-gris text-start">
          <div class="row">
            <div class=" col-12 form-control-sm">
              <label for="nombre" class="form-label" >Nombre</label>
              <input class="form-control" [(ngModel)]="data.req.descripcion" maxlength="20" formControlName="nombre" (ngModelChange)="data.req.descripcion = $event.toUpperCase()"/>
            </div>
            <div class=" col-12 form-control-sm">
              <label for="decripcion" class="form-label" >Descripci&oacute;n</label>
              <input class="form-control" maxlength="100" [(ngModel)]="data.req.comentario" formControlName="descripcion" (ngModelChange)="data.req.comentario = $event.toUpperCase()"/>
            </div>
          </div>
        </blockquote>
    </div>
    <div class="text-center">
      <button mat-button mat-dialog-close class="btn btn-light radiu-tp btn-alert mt-4">Cerrar</button>&nbsp;
      <button mat-button="" mat-dialog-close="" class="btn-tp radiu-tp btn-alert mt-4" type="button" (click)="generico(data.tipe, data.req.id, data.catid)">
        <span class="mat-button-wrapper" >{{data.button}}</span>
      </button>
    </div>
  </form>
</div>

<div class="modal-2 radiu-tp"  *ngIf="data.tipo ===4">
  <div class="text-center mt-4">
    <div class="modal-header">
      <h2 class="text-gris mb-3" style="width: 89%;">{{data.title}}</h2>
      <button  mat-button="" mat-dialog-close="" style="background-color: lightgrey;" type="button" class="close" aria-label="Close" >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="mt-5 row" >
      <table class="table table-striped table-hover" >
        <thead>
          <th>Folio:</th>
          <th>Fecha requerimiento:</th>
          <th>Municipio</th>
          <th>Tipo de permiso:</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of data.array">
            <td><a [routerLink]="['/gestorias/requerimiento']" (click)="editRequrimineto(item)">{{item.id}}</a></td>
            <td>{{item.fechareq}}</td>
            <td>{{item.municipio}}</td>
            <td>{{item.permiso}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center mt-5">
      <button mat-button="" mat-dialog-close="" class="btn-tp radiu-tp btn-alert mt-4" type="button">
      <span class="mat-button-wrapper">{{data.boton}}</span>
    </button>
    </div>
  </div>
</div>


<!-- motivos activacion/rechazo -->
<div class="modal-2 radiu-tp"  *ngIf="data.tipo ===5">
  <form [formGroup]="comentariosForm" autocomplete="off">
    <div class="text-center mt-4">
      <div class="modal-header">
        <h2 class="text-gris mb-3" style="width: 89%;">{{data.title}}</h2>
        <button  mat-button="" mat-dialog-close="" style="background-color: lightgrey;" type="button" class="close" aria-label="Close" >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="mt-5 row" >
        <table class="table table-striped table-hover" >
          <thead>
            <th>Folio:</th>
            <th>Fecha requerimiento:</th>
            <th>Municipio</th>
            <th>Tipo de permiso:</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of data.array">
              <td>{{item.id}}</td>
              <td>{{item.fechareq}}</td>
              <td>{{item.municipio}}</td>
              <td>{{item.permiso}}</td>
            </tr>
          </tbody>
        </table>
        <div class="text-center mt-5" style="display: inline-block; position: relative;">
          <div class="mb-3 col-4 form-control-sm " style="display: inline-block;">
            <label for="motivo" class="form-label"
              >Motivo</label
            >
            <input style="border: 1px solid #ced4da!important;height: 40px;" 
              type="text"
              class="form-control"
              id="motivo"
              aria-describedby="Motivo"
              formControlName="comentario"
            />
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <button mat-button="" mat-dialog-close="" class="btn-tp radiu-tp btn-alert mt-4" type="button" [routerLink]="['/gestorias/requerimientos']" (click)="guardaComentario()">
          <span class="mat-button-wrapper">Confirmar</span>
        </button>
      </div>
    </div>
  </form>
</div>
