<div class="col-12">
  <h6 class="text-gris">Informacion Adicional</h6>
</div>
<blockquote class="blockquote col-12 p-4 m-2 bg-gris">
  <div autocomplete="off" class="row">
    <div class="row">
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label">Folio de Factura</label>
        <p><strong>Factura</strong></p>
      </div>
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label">Importe</label>
        <p><strong>10,000</strong></p>
      </div>
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label">Fecha de pago</label>
        <p><strong>15/09/2021</strong></p>
      </div>
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label"
          >Registro contable</label
        >
        <p><strong>Registro contable</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label"
          >Nombre de contactoo</label
        >
        <p><strong>Francisco P&eacute;rez</strong></p>
      </div>
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label"
          >Nombre de proveedor/tramitado</label
        >
        <p><strong>Gerardo Guerrero</strong></p>
      </div>
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label">Sistema</label>
        <p><strong>Sistema</strong></p>
      </div>
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label"
          >Tipo de Solicitud</label
        >
        <p><strong>Solicitud</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label">Folio egreso</label>
        <p><strong>WE30566</strong></p>
      </div>
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label">&Aacute;rea</label>
        <p><strong>&Aacute;rea</strong></p>
      </div>
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label">CC</label>
        <p><strong>CC</strong></p>
      </div>
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label">Nombre CC</label>
        <p><strong>Nombre CC</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label">Posfin</label>
        <p><strong>Posfin</strong></p>
      </div>
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label"
          >Incluido en permiso</label
        >
        <p><strong>Si</strong></p>
      </div>
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label"
          >Horario de permiso</label
        ><br />
        de <span>09:00</span> a <span>14:00</span>
      </div>
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label"
          >Permiso/Negociaci&oacute;n</label
        >
        <p><strong>Permiso</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label"
          >Cantidad de permisos</label
        >
        <p><strong>2,000</strong></p>
      </div>
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label">Vigencia</label>
        <p><strong>15/09/2021</strong></p>
      </div>
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label">Forma de pago</label>
        <p><strong>Efectivo</strong></p>
      </div>
      <div class="mb-3 col-3 form-control-sm">
        <label for="exampleInputEmail1" class="form-label">Cobertura</label>
        <p><strong>Cobertura</strong></p>
      </div>
    </div>
  </div>
</blockquote>
